*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    scroll-behavior: smooth;
    font-family:'Josefin Sans', sans-serif;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width:10px;
}
/* NavBar start */
#navbar{
    background-color: transparent;
    padding: 0px ;
}

#logo img{
    width:180px;
    height: 100px;
    margin-top: 3px ;
}
#logo{
    font-weight: 500;
    font-size:30px;
}
.nav-item .nav-link{
    color:black;
    font-size:16px;
    font-weight:550;
    transition: 0.5s;
    margin-right:10px;
    margin-left:20px;
}
.nav-link:hover{
    color:red !important;
}

/* NavBar end */

/* Home Start */
.home{
    width:100%;
    height:90vh;
    padding: 5px 11% 80px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    position:relative;
    z-index:0;
    
}
.home .image-home{
flex: 1 1 200px ;
}
.home .image-home img{
    width:100%;
    margin-left: 60px;
}
.home-content {
    flex:1 1 400px;
    margin-top:30px;
}
.home-content h1 span{
    color:red;
}
#home-btn{
    background-color: yellow;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    color:Red;
    font-weight: 900;
}
#home-btn:hover{
    background-color: yellowgreen;
}
@media screen and (max-width:873px)
{
    .home .image-home img{
        margin-left: 0;
        border-radius: 10px;
    
    }
    .top-section{
margin-top:110px;
    }
}
/* HOme End */
/* Top section start */

.top-section{
    padding:10px 11% 100px;
    position:relative;
}
.top-section h5{
    color:red;
    text-align:center;
}
.top-section h3{
    color:black;
text-align:center;
font-weight:600;
}
.top-section .row{
    margin-top: 30px;
    align-items:center;
}
.top-section .row .card{
border:none;
}
.top-section .row .card img {
width:200px;
margin:auto;
}
/* Top section End */

/* category section start */
.category{
    padding:100px 11% 100px;
}
.category h3{
    text-align:center;
    color:red;

}
.category h2{
    text-align:center;
    color:black;
    font-weight: 600;
}
/* order Section start */
.order{
    padding:100px 11% 10px;
}
.heading{
    text-align:center;
    font-size:30px;
    font-weight:700;
}
.heading span{
    color:red;

}
.order textarea{
    resize:none
}
.order-btn{
    margin-top: 30px;
    background-color:transparent;
    border: 2px solid red;
    color:red;
    transition: 0.5s;
    cursor:pointer;
    padding:5px;
}
.order-btn:hover{
    background-color: red;
    color:white;
    border:2px solid white;
}

/* order Section end */
/* category section end  */

/* contact section start */
.contact{
    padding: 100px 11% 100px;
}
.contact .col-md-5{
    background-color: red;
    border-radius: 10px;
    color:white;
}
.contact h3{
    margin-top:30px;
    cursor: pointer;
} 
/* contact scetion end */
/* Footer start */
#footer{
    padding:15px 11% 15px;
    display:flex;
    justify-content:center;
    flex-direction:column;
align-items:center;
gap:2px;
}
#footer .f-content{
   background-color:black;
   margin: 2px;
   padding:2px;
}
.c-content{
    color:black;
}
/* Footer end */